<fieldset>
  <legend>Change Password</legend>

  <div class="form-group">
    <label for="previous" class="sr-only">Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      {{input type="password"
             class="form-control"
             id="previous"
             placeholder="Current Password"
             value=passwords.previous}}
    </div>
    <p class="help-block">Please enter your old password.</p>
  </div>

  <div class="form-group">
    <label for="next" class="sr-only">New Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
      {{input type="password"
              class="form-control"
              id="next"
              placeholder="New password"
              value=passwords.next}}
    </div>
    <p class="help-block">Please enter a new password.</p>
  </div>

  {{!-- <div class="form-group">
    <label for="confirm" class="sr-only">Confirm Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
      {{input type="password"
             class="form-control"
             id="password-confirmation"
             placeholder="Confirm Password"
             value=passwords.passwordConfirmation}}
    </div>
    <p class="help-block">Please enter matching passwords.</p>
  </div> --}}

  <div class="btn-toolbar">
    <button type="submit" class="btn btn-default" {{action "reset"}}><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    <button type="submit" class="btn btn-primary" {{action "submit"}}><span class="glyphicon glyphicon-save"></span> Change Password</button>
  </div>
</fieldset>

{{!-- <div class="form-group">
  <label for="previous">Old Password</label>
  {{input type="password"
          class="form-control"
          id="previous"
          placeholder="Old password"
          value=passwords.previous}}
</div>

<div class="form-group">
  <label for="next">New Password</label>
  {{input type="password"
          class="form-control"
          id="next"
          placeholder="New password"
          value=passwords.next}}
</div> --}}
