{{navbar-header navLink="navLink"}}

<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
    {{#if isAuthenticated}}
      <li>
        {{!-- {{#link-to "themes"}}My Themes{{/link-to}} --}}
        <a href="" {{action "navLink" "themes"}}>My Themes</a>
      </li>
      <li>
        {{!-- {{#link-to "export" theme=model}}Export{{/link-to}} --}}
        <a href="" {{action "navLink" "export" theme=model}}>Export</a>

      </li>
    {{/if}}
  </ul>
  <ul class="nav navbar-nav navbar-right">
    {{#if isAuthenticated}}
      <li>
        {{!-- {{#link-to "change-password"}}Change Password{{/link-to}} --}}
        <a href="" {{action "navLink" "change-password"}}>Change Password</a>
      </li>
      <li>
        <a href="" {{action "signOut"}}>Sign Out</a>
      </li>
    {{else}}
      <li>
        {{!-- {{#link-to "sign-up"}}Sign Up{{/link-to}} --}}
        <a href="" {{action "navLink" "sign-up"}}>Sign Up</a>
      </li>
      <li>
        {{!-- {{#link-to "sign-in"}}Sign In{{/link-to}} --}}
        <a href="" {{action "navLink" "sign-in"}}>Sign In</a>
      </li>
    {{/if}}
  </ul>
</div>
