{{!-- {{email-input email=credentials.email}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Sign Up
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button> --}}


<fieldset>
  <legend>Sign Up</legend>
    {{email-input email=credentials.email}}
  {{!-- <div class="form-group">
    <label for="sign-up-email" class="sr-only">Email</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input type="email" class="form-control" name="credentials[email]" id="sign-up-email" placeholder="Email Address" value="">
    </div>
    <p class="help-block">Please enter an email address.</p>
  </div> --}}
  <div class="form-group">
    {{password-input password=credentials.password}}
    {{!-- <label for="sign-up-password" class="sr-only">Password</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input type="password" class="form-control" name="credentials[password]" id="sign-up-password" placeholder="Password" value="">
    </div>
    <p class="help-block">Please enter a password.</p> --}}
  </div>
  <div class="form-group">
    {{password-confirmation-input password=credentials.passwordConfirmation}}
    {{!-- <label for="sign-up-password-confirm" class="sr-only">Confirm</label>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
      <input type="password" class="form-control" name="credentials[password_confirmation]" id="sign-up-password-confirm" placeholder="Confirm Password" value="">
    </div>
    <p class="help-block">Please enter matching passwords.</p> --}}
  </div>
  <div class="btn-toolbar">
    <button type="submit" class="btn btn-default" {{action "reset"}}><span class="glyphicon glyphicon-remove"></span> Cancel</button>
    <button type="submit" class="btn btn-primary" {{action "submit"}}><span class="glyphicon glyphicon-user"></span> Sign Up</button>

    {{!-- <button type="submit" class="btn btn-primary" {{action "submit"}}>
      Sign Up
    </button> --}}

    {{!-- <button class="btn btn-default" {{action "reset"}}>
      Cancel
    </button> --}}
  </div>
</fieldset>
